In [1]:
# Core Libraries
import pandas as pd 
import numpy as np

# Prediction Libraries
from xgboost import XGBRegressor
from mlforecast import MLForecast
from window_ops.rolling import rolling_mean, rolling_max, rolling_min
from neuralforecast import NeuralForecast
from neuralforecast.models import LSTM
from neuralforecast.losses.pytorch import DistributionLoss

c:\Users\Batuhan\AppData\Local\Programs\Python\Python39\lib\site-packages\torchvision\io\image.py:13: UserWarning: Failed to load image Python extension: '[WinError 127] Belirtilen yordam bulunamadı'If you don't plan on using image functionality from `torchvision.io`, you can ignore this warning. Otherwise, there might be something wrong with your environment. Did you have `libjpeg` or `libpng` installed before building `torchvision` from source?
  warn(

# Cleaning Data Sets

In [2]:
Brent = pd.read_csv("shell-datathon-cash-flow-coderspace/brent.csv")
Brent["Tarih"] = pd.to_datetime(Brent["Tarih"])
Brent["Tarih"] = pd.DatetimeIndex(Brent["Tarih"].dt.strftime("%Y-%m-%d"))
Brent = Brent.iloc[:,:-1]
Brent.set_index("Tarih", inplace=True)
Brent = Brent.reset_index()
Brent.rename(columns={"Tarih":"Date"},inplace= True)
Brent

,Date,Ürün,Avrupa Birliği Para Birimi,AB Piyasa Fiyatı,AB Piyasa Fiyatı- Yüksek,AB Piyasa Fiyatı- Düşük
0,2023-02-01,ICE BRENT,$/BBL,82.84,86.21,82.37
1,2023-01-31,ICE BRENT,$/BBL,84.49,85.25,83.73
2,2023-01-30,ICE BRENT,$/BBL,84.90,87.48,84.66
3,2023-01-29,ICE BRENT,$/BBL,86.66,88.95,85.69
4,2023-01-28,ICE BRENT,$/BBL,86.66,88.95,85.69
...,...,...,...,...,...,...
1852,2018-01-06,ICE BRENT,$/BBL,67.62,68.11,67.26
1853,2018-01-05,ICE BRENT,$/BBL,67.62,68.11,67.26
1854,2018-01-04,ICE BRENT,$/BBL,68.07,68.27,67.62
1855,2018-01-03,ICE BRENT,$/BBL,67.84,67.94,66.40
1856,2018-01-02,ICE BRENT,$/BBL,66.57,67.29,66.24

In [3]:
CashFlow = pd.read_csv("shell-datathon-cash-flow-coderspace/cash_flow_train.csv")
CashFlow["Inflows- currency"] = CashFlow["Inflows- currency"].replace(np.nan,0)
CashFlow["Date"] = pd.to_datetime(CashFlow["Date"])
CashFlow["Date"] = pd.DatetimeIndex(CashFlow["Date"].dt.strftime("%Y-%m-%d"))
CashFlow.set_index("Date", inplace=True)
CashFlow = CashFlow.reset_index()
CashFlow

,Date,Total Inflows,Customers - DDS,Customers - EFT,T&S Collections,FX Sales,Other operations,Total Outflows,Tüpraş,Other Oil,Gas,Import payments (FX purchases),Tax,Operatioınal and Admin. Expenses,VIS Buyback Payments,Net Cashflow from Operations,Inflows- currency
0,2019-01-02,1.747050e+07,7718750.0,9.655500e+06,0.000000e+00,0.0,96250.0,-4.631593e+07,-1.457022e+07,-1.441510e+05,-1.109963e+06,-29274250.0,-1.048839e+05,-1.112469e+06,0.000000e+00,-2.884543e+07,0.0
1,2019-01-03,1.153048e+07,3431500.0,8.098978e+06,0.000000e+00,0.0,0.0,-1.535349e+07,-1.337181e+07,-3.007992e+05,-2.798575e+05,-7746.0,-7.887853e+05,-6.044857e+05,0.000000e+00,-3.823007e+06,0.0
2,2019-01-04,2.591328e+07,13775750.0,1.213753e+07,0.000000e+00,0.0,0.0,-1.098651e+08,-2.459390e+07,0.000000e+00,0.000000e+00,-49032605.0,-2.936467e+06,-7.175890e+06,-2.612621e+07,-8.395180e+07,0.0
3,2019-01-07,5.259345e+07,39041750.0,1.355170e+07,0.000000e+00,0.0,0.0,-5.165489e+07,-3.110594e+07,-3.364373e+06,-1.406590e+06,-12049750.0,-8.218624e+05,-2.906375e+06,0.000000e+00,9.385578e+05,0.0
4,2019-01-08,3.650429e+07,15137500.0,2.136679e+07,0.000000e+00,0.0,0.0,-1.842178e+07,-1.246099e+07,-1.676525e+04,-4.078995e+05,-67702.5,-4.438174e+06,-1.030241e+06,0.000000e+00,1.808252e+07,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,2023-01-26,1.408741e+08,90239000.0,4.977288e+07,8.622500e+05,0.0,0.0,-1.318398e+08,-4.748971e+07,-3.760017e+05,-2.055985e+06,-70612500.0,-7.034186e+06,-2.771415e+06,-1.500000e+06,9.034332e+06,12500.0
1021,2023-01-27,1.062562e+08,53296500.0,5.282375e+07,1.359018e+05,0.0,0.0,-2.777992e+08,-4.800505e+07,-1.360219e+08,-1.551287e+06,-70621875.0,-9.880153e+06,-9.688081e+06,-2.030862e+06,-1.715431e+08,0.0
1022,2023-01-30,5.225381e+08,350467750.0,1.679393e+08,4.131052e+06,0.0,0.0,-3.223933e+08,-1.854239e+08,-2.196258e+07,-1.982722e+07,-70618750.0,-9.362510e+06,-1.519839e+07,0.000000e+00,2.001448e+08,0.0
1023,2023-01-31,2.323393e+08,131395500.0,9.922482e+07,1.718965e+06,0.0,0.0,-1.187000e+08,-3.198080e+07,-1.251479e+06,-2.591450e+06,-70881250.0,-4.370705e+06,-7.624322e+06,0.000000e+00,1.136393e+08,0.0
1024,2023-02-01,9.117482e+07,56928500.0,3.354297e+07,7.033439e+05,0.0,0.0,-2.020503e+08,-9.993562e+07,-3.153884e+05,-6.757550e+06,-70621875.0,-1.673461e+07,-7.685305e+06,0.000000e+00,-1.108755e+08,0.0

In [4]:
Platts = pd.read_csv("shell-datathon-cash-flow-coderspace/platts.csv")
Platts["Tarih"] = pd.to_datetime(Platts['Tarih'])
Platts['Tarih'] = pd.DatetimeIndex(Platts["Tarih"].dt.strftime("%Y-%m-%d"))

Platts = Platts.iloc[:,:-1].copy()
Platts.rename(columns={"Tarih":"Date"}, inplace=True)
Platts = Platts[::-1]
Platts.set_index("Date", inplace=True)
Platts10PPM = Platts[Platts["Ürün"] == "10 ppm ULSD CIF Med (Genova/Lavera)" ]
PlattsPremunl10PPM = Platts[Platts["Ürün"] == "Prem Unl 10 ppm CIF Med (Genova/Lavera)"]
Platts

,Ürün,Avrupa Birliği Birimi,AB Piyasa Fiyatı,AB Piyasa Fiyatı- Yüksek,AB Piyasa Fiyatı- Düşük
Date,,,,,
2018-01-02,Prem Unl 10 ppm CIF Med (Genova/Lavera),$/TON,632.75,633.00,632.50
2018-01-03,Prem Unl 10 ppm CIF Med (Genova/Lavera),$/TON,637.25,637.50,637.00
2018-01-04,Prem Unl 10 ppm CIF Med (Genova/Lavera),$/TON,633.25,633.50,633.00
2018-01-05,Prem Unl 10 ppm CIF Med (Genova/Lavera),$/TON,628.50,628.75,628.25
2018-01-06,Prem Unl 10 ppm CIF Med (Genova/Lavera),$/TON,628.50,628.75,628.25
...,...,...,...,...,...
2022-12-27,10 ppm ULSD CIF Med (Genova/Lavera),$/TON,920.00,920.25,919.75
2022-12-28,10 ppm ULSD CIF Med (Genova/Lavera),$/TON,926.25,926.50,926.00
2022-12-29,10 ppm ULSD CIF Med (Genova/Lavera),$/TON,927.00,927.25,926.75
2022-12-30,10 ppm ULSD CIF Med (Genova/Lavera),$/TON,932.25,932.50,932.00
2022-12-31,10 ppm ULSD CIF Med (Genova/Lavera),$/TON,932.25,932.50,932.00

In [5]:
Platts10PPM = Platts10PPM.reset_index()
Platts10PPM = Platts10PPM[["Date","Ürün","AB Piyasa Fiyatı","AB Piyasa Fiyatı- Yüksek","AB Piyasa Fiyatı- Düşük"]]
Platts10PPM.columns = ["ds","unique_id","y","High","Low",]
Platts10PPM

             ds                            unique_id       y    High     Low
0    2018-01-02  10 ppm ULSD CIF Med (Genova/Lavera)  599.00  599.25  598.75
1    2018-01-03  10 ppm ULSD CIF Med (Genova/Lavera)  609.00  609.25  608.75
2    2018-01-04  10 ppm ULSD CIF Med (Genova/Lavera)  610.00  610.25  609.75
3    2018-01-05  10 ppm ULSD CIF Med (Genova/Lavera)  606.50  606.75  606.25
4    2018-01-06  10 ppm ULSD CIF Med (Genova/Lavera)  606.50  606.75  606.25
...         ...                                  ...     ...     ...     ...
1820 2022-12-27  10 ppm ULSD CIF Med (Genova/Lavera)  920.00  920.25  919.75
1821 2022-12-28  10 ppm ULSD CIF Med (Genova/Lavera)  926.25  926.50  926.00
1822 2022-12-29  10 ppm ULSD CIF Med (Genova/Lavera)  927.00  927.25  926.75
1823 2022-12-30  10 ppm ULSD CIF Med (Genova/Lavera)  932.25  932.50  932.00
1824 2022-12-31  10 ppm ULSD CIF Med (Genova/Lavera)  932.25  932.50  932.00

[1825 rows x 5 columns]

In [6]:
Platts10PPM_1 = Platts10PPM[["ds","unique_id","y"]]
Platts10PPM_2 = Platts10PPM[["ds","unique_id","High"]]
Platts10PPM_2.columns = ["ds","unique_id","y"]
Platts10PPM_3 = Platts10PPM[["ds","unique_id","Low"]]
Platts10PPM_3.columns = ["ds","unique_id","y"]

#### Paltts Future Estimation

In [7]:
models = [XGBRegressor(random_state=0, n_estimators=100)]

model = MLForecast(models=models,
                   freq='D',
                   lags=[1,7,14],
                   lag_transforms={
                       1: [(rolling_mean, 7), (rolling_max, 7), (rolling_min, 7)],
                   },
                   date_features=['dayofweek', 'month'],
                   num_threads=6)


model.fit(Platts10PPM_1, id_col='unique_id', time_col='ds', target_col='y', static_features=[])

KeyboardInterrupt:

In [ ]:
Platts10PPM_1_prediciton =  model.predict(horizon=32)
Platts10PPM_1_prediciton.columns = ["unique_id","ds","y"]
Platts10PPM_1_prediciton

                              unique_id         ds            y
0   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-01   968.273926
1   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-02  1043.256348
2   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-03  1118.492676
3   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-04  1172.205078
4   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-05  1211.795044
5   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-06  1262.173706
6   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-07  1259.901489
7   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-08  1264.131958
8   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-09  1226.939819
9   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-10  1165.881958
10  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-11  1140.146362
11  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-12  1149.010376
12  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-13  1143.424072
13  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-14  1126.535034
14  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-15  1102.404785
15  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-16  1127.121460
16  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-17  1123.154785
17  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-18  1124.087036
18  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-19  1114.988281
19  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-20  1106.562012
20  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-21  1100.730835
21  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-22  1078.655640
22  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-23  1079.752197
23  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-24  1095.341797
24  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-25  1133.618652
25  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-26  1141.204712
26  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-27  1142.208496
27  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-28  1128.479736
28  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-29  1146.456055
29  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-30  1169.015137
30  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-31  1132.180908
31  10 ppm ULSD CIF Med (Genova/Lavera) 2023-02-01  1119.363159

In [ ]:
model_2 = MLForecast(models=models,
                   freq='D',
                   lags=[1,7,14],
                   lag_transforms={
                       1: [(rolling_mean, 7), (rolling_max, 7), (rolling_min, 7)],
                   },
                   date_features=['dayofweek', 'month'],
                   num_threads=6)


model_2.fit(Platts10PPM_2, id_col='unique_id', time_col='ds', target_col='y', static_features=[])

MLForecast(models=[XGBRegressor], freq=<Day>, lag_features=['lag1', 'lag7', 'lag14', 'rolling_mean_lag1_window_size7', 'rolling_max_lag1_window_size7', 'rolling_min_lag1_window_size7'], date_features=['dayofweek', 'month'], num_threads=6)

In [ ]:
Platts10PPM_2_prediciton =  model_2.predict(horizon=32)
Platts10PPM_2_prediciton.columns = ["unique_id","ds","y"]
Platts10PPM_2_prediciton

                              unique_id         ds            y
0   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-01   968.523621
1   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-02  1043.506226
2   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-03  1118.743164
3   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-04  1172.455444
4   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-05  1212.045776
5   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-06  1262.424438
6   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-07  1260.152222
7   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-08  1264.382812
8   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-09  1227.192261
9   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-10  1166.130859
10  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-11  1140.395996
11  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-12  1149.260620
12  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-13  1143.674683
13  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-14  1126.785034
14  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-15  1102.655273
15  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-16  1127.371704
16  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-17  1123.405029
17  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-18  1124.337524
18  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-19  1115.238525
19  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-20  1106.812378
20  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-21  1100.981079
21  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-22  1078.905640
22  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-23  1080.002197
23  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-24  1095.592041
24  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-25  1133.869019
25  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-26  1141.455200
26  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-27  1142.458618
27  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-28  1128.730103
28  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-29  1146.706055
29  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-30  1169.265259
30  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-31  1132.431519
31  10 ppm ULSD CIF Med (Genova/Lavera) 2023-02-01  1119.613281

In [ ]:
model_3 = MLForecast(models=models,
                   freq='D',
                   lags=[1,7,14],
                   lag_transforms={
                       1: [(rolling_mean, 7), (rolling_max, 7), (rolling_min, 7)],
                   },
                   date_features=['dayofweek', 'month'],
                   num_threads=6)


model_3.fit(Platts10PPM_3, id_col='unique_id', time_col='ds', target_col='y', static_features=[])

MLForecast(models=[XGBRegressor], freq=<Day>, lag_features=['lag1', 'lag7', 'lag14', 'rolling_mean_lag1_window_size7', 'rolling_max_lag1_window_size7', 'rolling_min_lag1_window_size7'], date_features=['dayofweek', 'month'], num_threads=6)

In [ ]:
Platts10PPM_3_prediciton =  model_3.predict(horizon=32)
Platts10PPM_3_prediciton.columns = ["unique_id","ds","y"]
Platts10PPM_3_prediciton

                              unique_id         ds            y
0   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-01   968.024109
1   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-02  1043.006836
2   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-03  1118.242554
3   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-04  1171.954712
4   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-05  1211.544556
5   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-06  1261.923584
6   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-07  1259.650879
7   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-08  1263.881104
8   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-09  1226.687744
9   10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-10  1165.633301
10  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-11  1139.896851
11  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-12  1148.759766
12  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-13  1143.173340
13  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-14  1126.285278
14  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-15  1102.154907
15  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-16  1126.871338
16  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-17  1122.904297
17  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-18  1123.836426
18  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-19  1114.737915
19  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-20  1106.312012
20  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-21  1100.481201
21  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-22  1078.406006
22  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-23  1079.502075
23  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-24  1095.091553
24  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-25  1133.367920
25  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-26  1140.954102
26  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-27  1141.958374
27  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-28  1128.229736
28  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-29  1146.205933
29  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-30  1168.765381
30  10 ppm ULSD CIF Med (Genova/Lavera) 2023-01-31  1131.930542
31  10 ppm ULSD CIF Med (Genova/Lavera) 2023-02-01  1119.113647

In [ ]:
Platts10PPM_1 = Platts10PPM_1.append(Platts10PPM_1_prediciton,ignore_index = True)
Platts10PPM_1.columns = ["ds","unique_id","AB Piyasa Fiyatı"]
Platts10PPM_2 = Platts10PPM_2.append(Platts10PPM_2_prediciton,ignore_index = True)
Platts10PPM_2.columns = ["ds","unique_id","AB Piyasa Fiyatı-Yüksek"]
Platts10PPM_3 = Platts10PPM_3.append(Platts10PPM_3_prediciton,ignore_index = True)
Platts10PPM_3.columns = ["ds","unique_id","AB Piyasa Fiyatı-Düşük"]

In [ ]:
Platts10PPM = pd.merge(Platts10PPM_1, Platts10PPM_2,on=["ds","unique_id"], how='inner')
Platts10PPM = pd.merge(Platts10PPM,Platts10PPM_3,on=["ds","unique_id"], how='inner')
Platts10PPM = Platts10PPM[["ds","AB Piyasa Fiyatı","AB Piyasa Fiyatı-Yüksek","AB Piyasa Fiyatı-Düşük"]]
Platts10PPM.columns = ["Date","AB Piyasa FiyatıPP","AB Piyasa Fiyatı-YüksekPP","AB Piyasa Fiyatı-DüşükPP"]
Platts10PPM

,Date,AB Piyasa FiyatıPP,AB Piyasa Fiyatı-YüksekPP,AB Piyasa Fiyatı-DüşükPP
0,2018-01-02,599.000000,599.250000,598.750000
1,2018-01-03,609.000000,609.250000,608.750000
2,2018-01-04,610.000000,610.250000,609.750000
3,2018-01-05,606.500000,606.750000,606.250000
4,2018-01-06,606.500000,606.750000,606.250000
...,...,...,...,...
1852,2023-01-28,1128.479736,1128.730103,1128.229736
1853,2023-01-29,1146.456055,1146.706055,1146.205933
1854,2023-01-30,1169.015137,1169.265259,1168.765381
1855,2023-01-31,1132.180908,1132.431519,1131.930542
1856,2023-02-01,1119.363159,1119.613281,1119.113647

In [ ]:
PlattsPremunl10PPM = PlattsPremunl10PPM.reset_index()
PlattsPremunl10PPM = PlattsPremunl10PPM[["Date","Ürün","AB Piyasa Fiyatı","AB Piyasa Fiyatı- Yüksek","AB Piyasa Fiyatı- Düşük"]]
PlattsPremunl10PPM.columns = ["ds","unique_id","y","High","Low",]

PlattsPremunl10PPM_1 = PlattsPremunl10PPM[["ds","unique_id","y"]]
PlattsPremunl10PPM_2 = PlattsPremunl10PPM[["ds","unique_id","High"]]
PlattsPremunl10PPM_2.columns = ["ds","unique_id","y"]
PlattsPremunl10PPM_3 = PlattsPremunl10PPM[["ds","unique_id","Low"]]
PlattsPremunl10PPM_3.columns = ["ds","unique_id","y"]

Platts_model_list_1 = [PlattsPremunl10PPM_1,PlattsPremunl10PPM_2,PlattsPremunl10PPM_3]

model = MLForecast(models=models,
                    freq='D',
                    lags=[1,7,14],
                    lag_transforms={
                        1: [(rolling_mean, 7), (rolling_max, 7), (rolling_min, 7)],
                    },
                    date_features=['dayofweek', 'month'],
                    num_threads=6)


Plattes_Models_1 = [] 
for i in Platts_model_list_1:
    models_list = model.fit(i, id_col='unique_id', time_col='ds', target_col='y', static_features=[])
    Plattes_Models_1.append(models_list)

PlattsPremunl10PPM_1_prediciton =  Plattes_Models_1[0].predict(horizon=32)
PlattsPremunl10PPM_1_prediciton.columns = ["unique_id","ds","y"]
PlattsPremunl10PPM_2_prediciton =  Plattes_Models_1[1].predict(horizon=32)
PlattsPremunl10PPM_2_prediciton.columns = ["unique_id","ds","y"]
PlattsPremunl10PPM_3_prediciton =  Plattes_Models_1[2].predict(horizon=32)
PlattsPremunl10PPM_3_prediciton.columns = ["unique_id","ds","y"]

PlattsPremunl10PPM_1 = PlattsPremunl10PPM_1.append(PlattsPremunl10PPM_1_prediciton,ignore_index = True)
PlattsPremunl10PPM_1.columns = ["ds","unique_id","AB Piyasa Fiyatı"]
PlattsPremunl10PPM_2 = PlattsPremunl10PPM_2.append(PlattsPremunl10PPM_2_prediciton,ignore_index = True)
PlattsPremunl10PPM_2.columns = ["ds","unique_id","AB Piyasa Fiyatı-Yüksek"]
PlattsPremunl10PPM_3 = PlattsPremunl10PPM_3.append(PlattsPremunl10PPM_3_prediciton,ignore_index = True)
PlattsPremunl10PPM_3.columns = ["ds","unique_id","AB Piyasa Fiyatı-Düşük"]

PlattsPremunl10PPM = pd.merge(PlattsPremunl10PPM_1, PlattsPremunl10PPM_2,on=["ds","unique_id"], how='inner')
PlattsPremunl10PPM = pd.merge(PlattsPremunl10PPM,PlattsPremunl10PPM_3,on=["ds","unique_id"], how='inner')
PlattsPremunl10PPM= PlattsPremunl10PPM[["ds","AB Piyasa Fiyatı","AB Piyasa Fiyatı-Yüksek","AB Piyasa Fiyatı-Düşük"]]
PlattsPremunl10PPM.columns = ["Date","AB Piyasa FiyatıPPrem","AB Piyasa Fiyatı-YüksekPPrem","AB Piyasa Fiyatı-DüşükPPrem"]


Platts = PlattsPremunl10PPM.merge(Platts10PPM, on=["Date"], how="inner")
Platts

,Date,AB Piyasa FiyatıPPrem,AB Piyasa Fiyatı-YüksekPPrem,AB Piyasa Fiyatı-DüşükPPrem,AB Piyasa FiyatıPP,AB Piyasa Fiyatı-YüksekPP,AB Piyasa Fiyatı-DüşükPP
0,2018-01-02,632.750000,633.000000,632.500000,599.000000,599.250000,598.750000
1,2018-01-03,637.250000,637.500000,637.000000,609.000000,609.250000,608.750000
2,2018-01-04,633.250000,633.500000,633.000000,610.000000,610.250000,609.750000
3,2018-01-05,628.500000,628.750000,628.250000,606.500000,606.750000,606.250000
4,2018-01-06,628.500000,628.750000,628.250000,606.500000,606.750000,606.250000
...,...,...,...,...,...,...,...
1852,2023-01-28,864.916931,864.916931,864.916931,1128.479736,1128.730103,1128.229736
1853,2023-01-29,861.627014,861.627014,861.627014,1146.456055,1146.706055,1146.205933
1854,2023-01-30,863.304565,863.304565,863.304565,1169.015137,1169.265259,1168.765381
1855,2023-01-31,865.528931,865.528931,865.528931,1132.180908,1132.431519,1131.930542
1856,2023-02-01,870.256226,870.256226,870.256226,1119.363159,1119.613281,1119.113647

In [ ]:
Currency = pd.read_csv("shell-datathon-cash-flow-coderspace/usd.csv")
Currency["Tarih"] = pd.to_datetime(Currency["Tarih"])
Currency["Tarih"] = pd.DatetimeIndex(Currency["Tarih"].dt.strftime("%Y-%m-%d"))
Currency.rename(columns={"Tarih":"Date"},inplace=True)
Currency.set_index("Date", inplace=True)
Currency

,Yıl,USD ALIŞ,USD SATIŞ,EUR ALIŞ,EUR SATIŞ,GBP ALIŞ,GBP SATIŞ
Date,,,,,,,
2018-01-02,2018,3.7719,3.7787,4.5155,4.5237,5.0803,5.1068
2018-01-03,2018,3.7652,3.7719,4.5375,4.5457,5.0910,5.1175
2018-01-04,2018,3.7617,3.7685,4.5267,4.5349,5.1014,5.1280
2018-01-05,2018,3.7600,3.7668,4.5269,4.5351,5.0818,5.1083
2018-01-06,2018,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2023-01-28,2023,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-29,2023,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-30,2023,18.7852,18.8191,20.4401,20.4769,23.2050,23.3260
2023-01-31,2023,18.7876,18.8215,20.4525,20.4894,23.2356,23.3568
2023-02-01,2023,18.7878,18.8216,20.3458,20.3824,23.1239,23.2444

In [ ]:
Currency = Currency.fillna(method="ffill")
Currency = Currency.reset_index()
Currency

,Date,Yıl,USD ALIŞ,USD SATIŞ,EUR ALIŞ,EUR SATIŞ,GBP ALIŞ,GBP SATIŞ
0,2018-01-02,2018,3.7719,3.7787,4.5155,4.5237,5.0803,5.1068
1,2018-01-03,2018,3.7652,3.7719,4.5375,4.5457,5.0910,5.1175
2,2018-01-04,2018,3.7617,3.7685,4.5267,4.5349,5.1014,5.1280
3,2018-01-05,2018,3.7600,3.7668,4.5269,4.5351,5.0818,5.1083
4,2018-01-06,2018,3.7600,3.7668,4.5269,4.5351,5.0818,5.1083
...,...,...,...,...,...,...,...,...
1852,2023-01-28,2023,18.7853,18.8191,20.4931,20.5301,23.2460,23.3671
1853,2023-01-29,2023,18.7853,18.8191,20.4931,20.5301,23.2460,23.3671
1854,2023-01-30,2023,18.7852,18.8191,20.4401,20.4769,23.2050,23.3260
1855,2023-01-31,2023,18.7876,18.8215,20.4525,20.4894,23.2356,23.3568
1856,2023-02-01,2023,18.7878,18.8216,20.3458,20.3824,23.1239,23.2444

# Data Merge

In [ ]:
df = pd.merge(CashFlow, Currency,on="Date", how='inner')
df = pd.merge(df,Brent,on="Date",how='inner')
df

,Date,Total Inflows,Customers - DDS,Customers - EFT,T&S Collections,FX Sales,Other operations,Total Outflows,Tüpraş,Other Oil,...,USD SATIŞ,EUR ALIŞ,EUR SATIŞ,GBP ALIŞ,GBP SATIŞ,Ürün,Avrupa Birliği Para Birimi,AB Piyasa Fiyatı,AB Piyasa Fiyatı- Yüksek,AB Piyasa Fiyatı- Düşük
0,2019-01-02,1.747050e+07,7718750.0,9.655500e+06,0.000000e+00,0.0,96250.0,-4.631593e+07,-1.457022e+07,-1.441510e+05,...,5.2905,6.0422,6.0530,6.7135,6.7485,ICE BRENT,$/BBL,54.91,56.56,52.51
1,2019-01-03,1.153048e+07,3431500.0,8.098978e+06,0.000000e+00,0.0,0.0,-1.535349e+07,-1.337181e+07,-3.007992e+05,...,5.3412,6.1061,6.1171,6.7643,6.7996,ICE BRENT,$/BBL,55.95,56.30,53.93
2,2019-01-04,2.591328e+07,13775750.0,1.213753e+07,0.000000e+00,0.0,0.0,-1.098651e+08,-2.459390e+07,0.000000e+00,...,5.4686,6.2057,6.2169,6.8468,6.8825,ICE BRENT,$/BBL,57.06,58.31,55.34
3,2019-01-07,5.259345e+07,39041750.0,1.355170e+07,0.000000e+00,0.0,0.0,-5.165489e+07,-3.110594e+07,-3.364373e+06,...,5.4186,6.1687,6.1798,6.8370,6.8726,ICE BRENT,$/BBL,57.33,58.93,57.26
4,2019-01-08,3.650429e+07,15137500.0,2.136679e+07,0.000000e+00,0.0,0.0,-1.842178e+07,-1.246099e+07,-1.676525e+04,...,5.3693,6.1285,6.1395,6.8184,6.8539,ICE BRENT,$/BBL,58.72,58.87,57.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,2023-01-26,1.408741e+08,90239000.0,4.977288e+07,8.622500e+05,0.0,0.0,-1.318398e+08,-4.748971e+07,-3.760017e+05,...,18.8188,20.4370,20.4738,23.0914,23.2118,ICE BRENT,$/BBL,87.47,88.01,85.74
1021,2023-01-27,1.062562e+08,53296500.0,5.282375e+07,1.359018e+05,0.0,0.0,-2.777992e+08,-4.800505e+07,-1.360219e+08,...,18.8191,20.4931,20.5301,23.2460,23.3671,ICE BRENT,$/BBL,86.66,88.95,85.69
1022,2023-01-30,5.225381e+08,350467750.0,1.679393e+08,4.131052e+06,0.0,0.0,-3.223933e+08,-1.854239e+08,-2.196258e+07,...,18.8191,20.4401,20.4769,23.2050,23.3260,ICE BRENT,$/BBL,84.90,87.48,84.66
1023,2023-01-31,2.323393e+08,131395500.0,9.922482e+07,1.718965e+06,0.0,0.0,-1.187000e+08,-3.198080e+07,-1.251479e+06,...,18.8215,20.4525,20.4894,23.2356,23.3568,ICE BRENT,$/BBL,84.49,85.25,83.73
1024,2023-02-01,9.117482e+07,56928500.0,3.354297e+07,7.033439e+05,0.0,0.0,-2.020503e+08,-9.993562e+07,-3.153884e+05,...,18.8216,20.3458,20.3824,23.1239,23.2444,ICE BRENT,$/BBL,82.84,86.21,82.37

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
Platts['Date'] = pd.to_datetime(Platts['Date'])

In [ ]:
merged_df = df.merge(Platts, on='Date', how='inner')

In [ ]:
merged_df

,Date,Total Inflows,Customers - DDS,Customers - EFT,T&S Collections,FX Sales,Other operations,Total Outflows,Tüpraş,Other Oil,...,Avrupa Birliği Para Birimi,AB Piyasa Fiyatı,AB Piyasa Fiyatı- Yüksek,AB Piyasa Fiyatı- Düşük,AB Piyasa FiyatıPPrem,AB Piyasa Fiyatı-YüksekPPrem,AB Piyasa Fiyatı-DüşükPPrem,AB Piyasa FiyatıPP,AB Piyasa Fiyatı-YüksekPP,AB Piyasa Fiyatı-DüşükPP
0,2019-01-02,1.747050e+07,7718750.0,9.655500e+06,0.000000e+00,0.0,96250.0,-4.631593e+07,-1.457022e+07,-1.441510e+05,...,$/BBL,54.91,56.56,52.51,485.500000,485.750000,485.250000,521.250000,521.500000,521.000000
1,2019-01-03,1.153048e+07,3431500.0,8.098978e+06,0.000000e+00,0.0,0.0,-1.535349e+07,-1.337181e+07,-3.007992e+05,...,$/BBL,55.95,56.30,53.93,475.250000,475.500000,475.000000,517.500000,517.750000,517.250000
2,2019-01-04,2.591328e+07,13775750.0,1.213753e+07,0.000000e+00,0.0,0.0,-1.098651e+08,-2.459390e+07,0.000000e+00,...,$/BBL,57.06,58.31,55.34,488.000000,488.250000,487.750000,534.500000,534.750000,534.250000
3,2019-01-07,5.259345e+07,39041750.0,1.355170e+07,0.000000e+00,0.0,0.0,-5.165489e+07,-3.110594e+07,-3.364373e+06,...,$/BBL,57.33,58.93,57.26,496.500000,496.750000,496.250000,549.750000,550.000000,549.500000
4,2019-01-08,3.650429e+07,15137500.0,2.136679e+07,0.000000e+00,0.0,0.0,-1.842178e+07,-1.246099e+07,-1.676525e+04,...,$/BBL,58.72,58.87,57.13,491.750000,492.000000,491.500000,551.250000,551.500000,551.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,2023-01-26,1.408741e+08,90239000.0,4.977288e+07,8.622500e+05,0.0,0.0,-1.318398e+08,-4.748971e+07,-3.760017e+05,...,$/BBL,87.47,88.01,85.74,890.988831,890.988831,890.988831,1141.204712,1141.455200,1140.954102
1021,2023-01-27,1.062562e+08,53296500.0,5.282375e+07,1.359018e+05,0.0,0.0,-2.777992e+08,-4.800505e+07,-1.360219e+08,...,$/BBL,86.66,88.95,85.69,874.723022,874.723022,874.723022,1142.208496,1142.458618,1141.958374
1022,2023-01-30,5.225381e+08,350467750.0,1.679393e+08,4.131052e+06,0.0,0.0,-3.223933e+08,-1.854239e+08,-2.196258e+07,...,$/BBL,84.90,87.48,84.66,863.304565,863.304565,863.304565,1169.015137,1169.265259,1168.765381
1023,2023-01-31,2.323393e+08,131395500.0,9.922482e+07,1.718965e+06,0.0,0.0,-1.187000e+08,-3.198080e+07,-1.251479e+06,...,$/BBL,84.49,85.25,83.73,865.528931,865.528931,865.528931,1132.180908,1132.431519,1131.930542
1024,2023-02-01,9.117482e+07,56928500.0,3.354297e+07,7.033439e+05,0.0,0.0,-2.020503e+08,-9.993562e+07,-3.153884e+05,...,$/BBL,82.84,86.21,82.37,870.256226,870.256226,870.256226,1119.363159,1119.613281,1119.113647

In [ ]:
merged_df.columns

Index(['Date', 'Total Inflows', 'Customers - DDS', 'Customers - EFT',
       'T&S Collections', 'FX Sales', 'Other operations', 'Total Outflows',
       'Tüpraş', 'Other Oil', 'Gas', 'Import payments (FX purchases)', 'Tax',
       'Operatioınal and Admin. Expenses', 'VIS Buyback Payments',
       'Net Cashflow from Operations', 'Inflows- currency', 'Yıl', 'USD ALIŞ',
       'USD SATIŞ', 'EUR ALIŞ', 'EUR SATIŞ', 'GBP ALIŞ', 'GBP SATIŞ', 'Ürün',
       'Avrupa Birliği Para Birimi', 'AB Piyasa Fiyatı',
       'AB Piyasa Fiyatı- Yüksek', 'AB Piyasa Fiyatı- Düşük',
       'AB Piyasa FiyatıPPrem', 'AB Piyasa Fiyatı-YüksekPPrem',
       'AB Piyasa Fiyatı-DüşükPPrem', 'AB Piyasa FiyatıPP',
       'AB Piyasa Fiyatı-YüksekPP', 'AB Piyasa Fiyatı-DüşükPP'],
      dtype='object')

## Target Data Creation

In [ ]:
Target_df_new = merged_df[["Date",'Customers - DDS','Customers - EFT','T&S Collections','FX Sales','Other operations','Tüpraş',
                'Other Oil','Gas','Import payments (FX purchases)','Tax','Operatioınal and Admin. Expenses','VIS Buyback Payments','Net Cashflow from Operations',
                'Inflows- currency','USD ALIŞ','USD SATIŞ','EUR ALIŞ','EUR SATIŞ', 'GBP ALIŞ', 'GBP SATIŞ','Ürün',
                'AB Piyasa Fiyatı','AB Piyasa Fiyatı- Yüksek', 'AB Piyasa Fiyatı- Düşük','AB Piyasa FiyatıPP', 'AB Piyasa Fiyatı-YüksekPP','AB Piyasa Fiyatı-DüşükPP',
                "AB Piyasa FiyatıPPrem","AB Piyasa Fiyatı-YüksekPPrem","AB Piyasa Fiyatı-DüşükPPrem"]].copy()
Target_df_new.rename(columns={"Date":"ds","Ürün":"unique_id","Net Cashflow from Operations":"y"}, inplace= True)
Target_df_new["unique_id"] = "Shell"
Target_df_new

,ds,Customers - DDS,Customers - EFT,T&S Collections,FX Sales,Other operations,Tüpraş,Other Oil,Gas,Import payments (FX purchases),...,unique_id,AB Piyasa Fiyatı,AB Piyasa Fiyatı- Yüksek,AB Piyasa Fiyatı- Düşük,AB Piyasa FiyatıPP,AB Piyasa Fiyatı-YüksekPP,AB Piyasa Fiyatı-DüşükPP,AB Piyasa FiyatıPPrem,AB Piyasa Fiyatı-YüksekPPrem,AB Piyasa Fiyatı-DüşükPPrem
0,2019-01-02,7718750.0,9.655500e+06,0.000000e+00,0.0,96250.0,-1.457022e+07,-1.441510e+05,-1.109963e+06,-29274250.0,...,Shell,54.91,56.56,52.51,521.250000,521.500000,521.000000,485.500000,485.750000,485.250000
1,2019-01-03,3431500.0,8.098978e+06,0.000000e+00,0.0,0.0,-1.337181e+07,-3.007992e+05,-2.798575e+05,-7746.0,...,Shell,55.95,56.30,53.93,517.500000,517.750000,517.250000,475.250000,475.500000,475.000000
2,2019-01-04,13775750.0,1.213753e+07,0.000000e+00,0.0,0.0,-2.459390e+07,0.000000e+00,0.000000e+00,-49032605.0,...,Shell,57.06,58.31,55.34,534.500000,534.750000,534.250000,488.000000,488.250000,487.750000
3,2019-01-07,39041750.0,1.355170e+07,0.000000e+00,0.0,0.0,-3.110594e+07,-3.364373e+06,-1.406590e+06,-12049750.0,...,Shell,57.33,58.93,57.26,549.750000,550.000000,549.500000,496.500000,496.750000,496.250000
4,2019-01-08,15137500.0,2.136679e+07,0.000000e+00,0.0,0.0,-1.246099e+07,-1.676525e+04,-4.078995e+05,-67702.5,...,Shell,58.72,58.87,57.13,551.250000,551.500000,551.000000,491.750000,492.000000,491.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,2023-01-26,90239000.0,4.977288e+07,8.622500e+05,0.0,0.0,-4.748971e+07,-3.760017e+05,-2.055985e+06,-70612500.0,...,Shell,87.47,88.01,85.74,1141.204712,1141.455200,1140.954102,890.988831,890.988831,890.988831
1021,2023-01-27,53296500.0,5.282375e+07,1.359018e+05,0.0,0.0,-4.800505e+07,-1.360219e+08,-1.551287e+06,-70621875.0,...,Shell,86.66,88.95,85.69,1142.208496,1142.458618,1141.958374,874.723022,874.723022,874.723022
1022,2023-01-30,350467750.0,1.679393e+08,4.131052e+06,0.0,0.0,-1.854239e+08,-2.196258e+07,-1.982722e+07,-70618750.0,...,Shell,84.90,87.48,84.66,1169.015137,1169.265259,1168.765381,863.304565,863.304565,863.304565
1023,2023-01-31,131395500.0,9.922482e+07,1.718965e+06,0.0,0.0,-3.198080e+07,-1.251479e+06,-2.591450e+06,-70881250.0,...,Shell,84.49,85.25,83.73,1132.180908,1132.431519,1131.930542,865.528931,865.528931,865.528931
1024,2023-02-01,56928500.0,3.354297e+07,7.033439e+05,0.0,0.0,-9.993562e+07,-3.153884e+05,-6.757550e+06,-70621875.0,...,Shell,82.84,86.21,82.37,1119.363159,1119.613281,1119.113647,870.256226,870.256226,870.256226

# LSTM Model Improvement

In [ ]:
h = Target_df_new.index.nunique()
models = [LSTM(h=h,input_size=-1,
               loss=DistributionLoss(distribution='Normal', level=[90]),
               max_steps=150,
               encoder_n_layers=2,
               encoder_hidden_size=200,
               context_size=10,
               decoder_hidden_size=200,
               decoder_layers=2,
               learning_rate=1e-3,
               scaler_type='standard',
               futr_exog_list=['onpromotion'])]

target_model = NeuralForecast(models=models, freq='D')

Global seed set to 1

In [ ]:
train = Target_df_new[:-23]
test = Target_df_new[-23:]

In [ ]:
target_model.fit(train)

Sanity Checking: 0it [00:00, ?it/s]

Training: 0it [00:00, ?it/s]

Validation: 0it [00:00, ?it/s]

In [ ]:
submission = pd.read_csv("shell-datathon-cash-flow-coderspace/sample_submission.csv")
submission

          Date  Net Cashflow from Operations
0   2023-02-02                             0
1   2023-02-03                             0
2   2023-02-06                             0
3   2023-02-07                             0
4   2023-02-08                             0
..         ...                           ...
65  2023-05-08                             0
66  2023-05-09                             0
67  2023-05-10                             0
68  2023-05-11                             0
69  2023-05-12                             0

[70 rows x 2 columns]

## Prediction

In [ ]:
prediction = target_model.predict(test).reset_index()
prediction

Predicting: 0it [00:00, ?it/s]

     unique_id         ds        LSTM  LSTM-median   LSTM-lo-90   LSTM-hi-90
0        Shell 2023-02-02 -59121548.0  -59379072.0 -133879536.0   11756574.0
1        Shell 2023-02-03 -33927408.0  -34251336.0  -93941344.0   25204962.0
2        Shell 2023-02-04  -6142798.5   -6853050.5  -50213468.0   38907104.0
3        Shell 2023-02-05   4751906.0    5009190.0  -39474544.0   48376736.0
4        Shell 2023-02-06 -22447628.0  -21621528.0  -66937092.0   19460508.0
...        ...        ...         ...          ...          ...          ...
1020     Shell 2025-11-18   5637386.0    8623667.0 -186782928.0  194914304.0
1021     Shell 2025-11-19  15779701.0   13786962.0 -142410880.0  185208448.0
1022     Shell 2025-11-20  16985780.0   17167892.0 -176786048.0  206717632.0
1023     Shell 2025-11-21  55279000.0   57366016.0 -193082304.0  298887776.0
1024     Shell 2025-11-22  10069530.0   13422416.0 -154134640.0  179632272.0

[1025 rows x 6 columns]

### MAE

In [ ]:
def mae(y_true, predictions):
    y_true, predictions = np.array(y_true), np.array(predictions)
    return np.mean(np.abs(y_true - predictions))

In [ ]:
LSTM = mae(Target_df_new["y"],prediction["LSTM"])
LSTM

47101351.18855817

In [ ]:
LSTM_median = mae(Target_df_new["y"],prediction["LSTM-median"])
LSTM_median

47072052.544528276

# Last Target Data Chosen

In [ ]:
predicition_limitied = prediction[:70]

In [ ]:
predicition_new = predicition_limitied
predicition_new.rename(columns={"ds":"Date"}, inplace=True)
predicition_new["Date"] = predicition_new["Date"].dt.strftime("%Y-%m-%d")

subbmission_new = predicition_new[["Date","LSTM-median"]]
subbmission_new

          Date  LSTM-median
0   2023-02-02  -59379072.0
1   2023-02-03  -34251336.0
2   2023-02-04   -6853050.5
3   2023-02-05    5009190.0
4   2023-02-06  -21621528.0
..         ...          ...
65  2023-04-08   16172897.0
66  2023-04-09   47583056.0
67  2023-04-10    8822682.0
68  2023-04-11   16552305.0
69  2023-04-12   -9429961.0

[70 rows x 2 columns]

In [ ]:
target_subbmission = pd.merge(subbmission_new,submission, left_index=True,right_index=True, how="inner")
target_subbmission = target_subbmission[["Date_y","LSTM-median"]]
target_subbmission.columns = ["Date","Net Cashflow from Operations"]
target_subbmission

          Date  Net Cashflow from Operations
0   2023-02-02                   -59379072.0
1   2023-02-03                   -34251336.0
2   2023-02-06                    -6853050.5
3   2023-02-07                     5009190.0
4   2023-02-08                   -21621528.0
..         ...                           ...
65  2023-05-08                    16172897.0
66  2023-05-09                    47583056.0
67  2023-05-10                     8822682.0
68  2023-05-11                    16552305.0
69  2023-05-12                    -9429961.0

[70 rows x 2 columns]

In [ ]:
target_subbmission.to_csv("submission.csv",encoding='utf-8', index=False)